{% extends 'profil/profil.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block contenu %}
<div class="container">
    <div class ='row'>
        <div class="col-sm">
            <h1>TEST</h1>
        </div>
    </div>
</div>
{% endblock contenu%}

{% block affichage %}
{% endblock affichage %}